@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

* {
  box-sizing: border-box;
  font-family: "Ubuntu", "Montserrat", sans-serif;
  font-size: 1rem;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100vw;
  height: 100vh;
}

h1 {
  color: rgb(31, 92, 122);
  font-size: 3rem;
  margin-top: 21px;
}

h2 {
  font-size: 1.2rem;
  font-weight: 400;
}

h4 {
  color: rgb(31, 92, 122);
  font-size: 3rem;
  margin-top: 45px;
  line-height: 48px;
}

p {
  font-size: 1.2rem;
  padding-top: 12px;
}

.left-side {
  padding-left: 60px;
}

.left-imgs {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.left-side img {
  height: 240px;
  margin-left: -15px;
}

.store-img {
  padding-top: 21px;
  padding-left: 9px;
}

.store-img img {
  padding-left: 60px;
  bottom: 60px;
}

.right-side {
  background-image: url(/assets/2.svg);
  background-repeat: no-repeat;
  background-position: right 85% bottom 5%;
  background-size: 135%;
}

.right-side img {
  height: 86vh;
  width: auto;
  margin-top: 12%;
  margin-left: 60px !important;
}

footer {
  display: flex;
  align-items: center;
}

footer .left-foot {
  position: absolute;
  margin-left: 60px;
  bottom: 20px;
}

footer p {
  font-size: 12px;
  padding-bottom: 12px;
  margin: 0;
  padding: 0;
}

footer p:last-child {
  padding-top: -18px;
}

.store-img img {
  height: 39px;
}

footer .right-foot {
  position: absolute;
  margin-left: 400px;
  bottom: 20px;
}

footer .right-foot a {
  color: #000;
  font-size: 14px;
  text-decoration: none !important;
  margin: 0;
  padding: 0;
}

footer .right-foot a:hover {
  color: rgb(31, 92, 122);
}


@media (min-width: 320px) {
  main {
    grid-template-columns: 1fr;
    overflow: hidden;
  }

  h1 {
    font-size: 1.2rem;
    margin-top: 33px;
  }

  h2 {
    font-size: .7rem;
  }

  h4 {
    font-size: 1.5rem;
    line-height: 25px;
    margin-top: 30px;
  }

  p {
    font-size: 1rem;
    padding-top: 12px;
    margin-right: 18px;
  }

  .left-side {
    padding-left: 15px;
  }

  .left-imgs {
    display: grid;
    grid-template-columns: 1fr;
  }

  .left-side img {
    height: 210px;
    margin-top: 20px;
    margin-left: -7px;
  }

  .right-side {
    background-image: url(/assets/2.svg);
    background-repeat: no-repeat;
    background-position: right 85% bottom 5%;
    background-size: 135%;
    display: none;
  }

  .right-side img {
    height: 86vh;
    width: auto;
    margin-top: 12%;
    margin-left: 60px !important;
  }

  footer {
    align-items: center;
  }

  footer .left-foot {
    margin-left: 21px;
    bottom: 20px;
    text-align: center;
  }

  footer p {
    font-size: 12px;
    padding-bottom: 12px;
    margin: 0;
    padding: 0;
  }

  footer p:last-child {
    padding-top: -18px;
  }

  .store-img {
    margin-left: 0;
    padding-top: 0;
    padding-left: 0;
  }

  .store-img img {
    height: 36px;
    padding-left: 10px;
    bottom: 0;
  }

  footer .right-foot {
    bottom: 60px !important;
    margin-left: 18px;
    bottom: 20px;
  }

  footer .right-foot a {
    color: #000;
    font-size: 14px;
    text-decoration: none !important;
    margin: 0;
    padding: 0;
  }

  footer .right-foot a:hover {
    color: rgb(31, 92, 122);
  }

  
}