@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

* {
    font-family: "Ubuntu", "Montserrat", sans-serif;
    font-size: 1rem;
    text-decoration: none;
}

.menu {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 10%;
}

.menu h3 {
    font-size: 1.5rem;
    color: #1C5D7C;
}

.nav-links li {
	display: inline-block;
	padding: 0 6px; 
}

.nav-links li a {
    font-size: .8rem;
    color: #242424;
    transition: all 0.3s ease 0s;
}

.nav-links li a:hover {
	color: #1C5D7C; 
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 30px 0 114px 0;
  background-image: url(/assets/blob-main.svg);
  background-position: top right;
  background-repeat: no-repeat;
  background-size: 600px;
}

main .main-title {
  width: 81%;
  margin: 0 auto;
}

main .main-title h1 {
  font-size: 50px;
}

main .main-title h3 {
  font-size: 25px;
}

.contact-form-container {
  margin: 0 auto;
  padding: 21px;
  border-radius: 9px;
  background-color: #fff;
  box-shadow: 0px 4px 14px hsla(0, 0%, 0%, 0.25);
}

.login-button {
  color: #fff;
	padding: 9px 25px;
	background-color: #1C5D7C;
	border: none;
	border-radius: 9px;
	cursor: pointer;
	transition: all 0.3s ease 0s;
}

.login-button:hover {
	background-color: #2989B6;
}

.main-contact p {
  font-size: var(--font-size-body);
}

/* automation form mobile */
.auto-form {
  width: 90%;
  margin: 0 auto;
}
.aut-form-container {
  max-width: 360px;
  margin: 0 auto;
}

.aut-form-container h1 {
  font-size: var(--font-size-subtitle);
  margin: 0 0 1.8rem 0;
}

.aut-form label {
  display: flex;
  align-items: center;
  font-size: .8rem;
}

.aut-form input {
  margin-bottom: 0.7rem;
}

.aut-form-control {
  display: block;
  width: 100%;
  height: 36px;
  padding: 0 0 0 0.63;
  background-color: transparent;
  background-clip: padding-box;
  border-color: transparent;
  border-bottom: 1px solid #000;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.aut-form-control:last-child {
  height: 45px;
  color: #fff;
  border-radius: 6px;
  border-color: transparent;
  background-color: #1C5D7C;
}

.aut-form p {
  font-size: .81rem;
  line-height: 18px;
  padding: 12px 0;
}

.aut-form input#name {
  background-image: url('./assets/imagery/user.svg');
  background-size: 21px;
  background-repeat: no-repeat;
  background-position: 15px center;
  text-indent: 15px;
  transition: 0.3s;
}

.aut-form input#email {
  background-image: url('./assets/imagery/email.svg');
  background-size: 21px;
  background-repeat: no-repeat;
  background-position: 15px center;
  text-indent: 15px;
  transition: 0.3s;
}

.aut-form input#phone {
  background-image: url('./assets/imagery/phone.svg');
  background-size: 21px;
  background-repeat: no-repeat;
  background-position: 15px center;
  text-indent: 15px;
  transition: 0.3s;
}

.aut-form input#address {
  position: relative;
  background-image: url('./assets/key.svg');
  background-size: 13.1px;
  background-repeat: no-repeat;
  background-position: right;
  text-indent: 15px;
  transition: 0.3s;
}

.aut-form input#name:focus,
.aut-form input#email:focus,
.aut-form input#phone:focus,
.aut-form input#address:focus {
  background-image: none;
  text-indent: 0px;
  opacity: 0.6;
}

.aut-form input::placeholder {
  color: #9d9393;
}

.aut-form input:focus::placeholder {
  opacity: 0.6;
}

.aut-form .aut-text-area {
  min-height: 111px;
  width: 100%;
  padding: 0.625rem;
  resize: vertical;
}

textarea:focus, input:focus{
    outline: none;
}

/* services section */
.services h1 {
  font-size: 40px;
  text-align: center;
  margin-bottom: 90px;
}

.services-img-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  width: 81%;
  margin: 0 auto;
}

.services-square {
  display: grid;
  justify-content: center;
  align-items: center;
  height: 150px;
  width: 180px;
  border-radius: 6px;
  box-shadow: 0px 2px 13px hsla(0, 0%, 0%, 0.25);
  margin: 15px 0;
}

.services-square img {
  height: 54px;
  justify-self: center;
  align-self: end;
}

.services-square h3 {
  color: rgb(56, 56, 56);
  font-size: 18px;
  text-align: center;
}

/* featured section */
.featured h1 {
  font-size: 40px;
  text-align: center;
  margin-bottom: 30px;
}

.featured h3 {
  font-size: 18px;
  text-align: center;
}

.featured-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 81%;
  margin: 0 auto;
}

.featured-square {
  display: grid;
}

.featured-square img {
  height: 54px;
  margin: 0 auto;
}

.featured-square p {
  text-align: center;
}